<h1>{{user.firstname}}  {{user.lastname}} [{{user.id}}]</h1>

<ul class="list-group">
    <li><strong>Email: </strong> {{user.email}}</li>
    <li><strong>Phone: </strong> {{user.phone}}</li>
</ul>

<a href="" class="btn btn-default" href="/">BACK</a>